<!doctype html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Book Store</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="stilo.css">
	<link rel="stylesheet" href="styles.css">

</head>
<header>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#" margin-right="25px">Book Store</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="available_books">Available</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="my_Books">My books</a>
					</li>

					<div>
						<a class="nav-link" href="book_register">New Book Register</a>
					</div>

				</ul>

			</div>
		</div>
	</nav>
</header>

<body>
	<div class="back-cube">
		<div class="container my-5 text-center">
			<h1 margin-top 20px>WELCOME TO NEW BOOK STORE</h1>

			<h6 text-left>“Fiquei impressionado com a urgência de fazer. Saber não é suficiente; devemos aplicar. Estar
				disposto não é o suficiente; devemos fazer” – Leonardo Da Vinci.
				“Limitações vivem apenas em nossas mentes. Mas se usarmos nossa imaginação, nossas possibilidades
				tornam-se
				ilimitadas” – Jamie Paolinetti.
				“Você toma sua vida em suas próprias mãos e o que acontece? Uma coisa terrível, ninguém para colocar a
				culpa” – Erica Jong.
				“O que é o dinheiro? Um homem de sucesso levanta pela manhã e vai para cama à noite. E no meio, faz o
				que
				quer fazer” – Bob Dylan.
				“Eu não falhei no teste. Eu só encontrei 100 maneiras de fazer errado” – Benjamin Franklin.
				“Para ter sucesso, o seu desejo de sucesso deve ser maior do que o seu medo do fracasso” – Bill Cosby.
				“Uma pessoa que nunca cometeu um erro, nunca tentou nada de novo” – Albert Einstein.
				“A pessoa que diz que não pode ser feito não deve interromper a pessoa que está fazendo” – Provérbio
				chinês.
			</h6>

		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="main.js"></script>
</body>

</html>